@font-face {
    font-family: 'Schrift';
    src: url('AutumnInNovember.ttf') format('truetype'),
}

body {
    font-family: Schrift
}


h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
