@font-face {
    font-family: 'Schrift';
    src: url('Autumn in November.ttf') format('ttf'),
}

body {
    font-family: Schrift;
}


h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
